# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_tes
static/js/angular/*
static/js/jasmine/*

# Files
!static/js/jasmine/SpecRunner.html
!static/js/angular/angular.js
!static/js/angular/angular-mocks.js
!static/js/angular/angular-route.js
!static/js/angular/angular-resource.js

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
