<form ng-submit="logout()" ng-controller="ListAdvertiserController" method="post">
  
  <h2>Listado de publicistas</h2>

  Search: <input name="query" ng-model="query">
  <select ng-model="orderAdvertiser">
    <option value="name">Alphabetical</option>
    <option value="age">Newest</option>
  </select>

  <table st-table="advertisers" class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Sexo</th>
        <th>NSE</th>
        <th>Cobertura</th>
        <th>Intereses</th>
        <th>Categoría</th>
        <th>Presupuesto</th>
        <th>Objetivos</th>
        <th>Edad</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="advertiser in advertisers | filter:query | orderBy:orderAdvertiser">
        <td>{{advertiser.name}}</td>
        <td>{{advertiser.sex}}</td>
        <td>{{advertiser.nse}}</td>
        <td>{{advertiser.coverage}}</td>
        <td>{{advertiser.interests}}</td>
        <td>{{advertiser.category}}</td>
        <td>{{advertiser.budget}}</td>
        <td>{{advertiser.objetives}}</td>
        <td>{{advertiser.age}}</td>
      </tr>
    </tbody>
  </table>

  <button ng-click="GoAddAdvertiser()">Añadir publicista</button>
  <button type="submit">Logout</button>
</form>
